$max: 1012px;
$middle: 768px;
$min: 767px;

$top-bar-height: 62px;
$top-bar-background: #24292e;
$top-bar-font-color: #fff;
$top-bar-search-border-color: #444d56;
$index-page-main-middle-background-grey: #f6f8fa;
$index-page-main-middle-card-background: #fff;
$index-page-main-middle-border-color: #eaecef;
$index-page-main-middle-border-shadow-color: #f4f4f4;
$index-page-main-middle-border-shadow: 0 0 1px #f4f4f4;

$index-page-main-middle-font-color-blue: #0366d6;
$index-page-main-middle-font-color-blue-2: #b3d1f3;

$index-page-main-right-font-color-black: #24292e;

$index-page-main-middle-font-color-grey: #586069;
$index-page-main-middle-font-color-grey-2: #d1d5da;
$index-page-main-font-color-grey-3: #6a737d;

$index-page-main-font-color-yellow: #b08800;

$index-page-main-border-color-grey: #e1e4e8;
$index-page-main-border-color-grey-2: #d9dbdb;

$index-page-main-background-color-grey: #fafbfc;
$index-page-main-background-color-green: #2ea44f;
$index-page-main-background-color-green-2: #2c974b;
