$max: 1012px;
$middle: 768px;
$min: 767px;
$mini: 544px;

$top-bar-height: 62px;
$top-bar-background: #24292e;
$top-bar-font-color: #fff;
$top-bar-search-border-color: #444d56;
$index-page-main-middle-background-grey: #f6f8fa;
$index-page-main-middle-card-background: #fff;
$index-page-main-middle-border-color: #eaecef;
$index-page-main-middle-border-shadow-color: #f4f4f4;
$index-page-main-middle-border-shadow: 0 0 2px #f4f4f4;

$index-page-main-middle-font-color-blue: #0366d6;
$index-page-main-middle-font-color-blue-2: #b3d1f3;
$index-page-main-middle-font-color-blue-3: #4c92e2;
$index-page-main-middle-font-color-blue-4: #0399e8;

$index-page-main-right-font-color-black: #24292e;

$index-page-main-middle-font-color-grey: #586069;
$index-page-main-middle-font-color-grey-2: #d1d5da;
$index-page-main-font-color-grey-3: #6a737d;

$index-page-main-font-color-yellow: #b08800;

$index-page-main-border-color-grey: #e1e4e8;
$index-page-main-border-color-grey-2: #d9dbdb;
$index-page-main-border-color-grey-3: #e2e3e3;
$index-page-main-border-color-grey-4: #eff0f3;

$index-page-main-background-color-grey: #fafbfc;
$index-page-main-background-color-grey-2: #fcfdfd;
$index-page-main-background-color-grey-3: #959da5;
$index-page-main-background-color-grey-4: #8d8f91;

$index-page-main-background-color-blue: #0366d6;
$index-page-main-background-color-blue-2: #f1f8ff;
$index-page-main-background-color-blue-3: #ddeeff;

$index-page-main-background-color-green: #2ea44f;
$index-page-main-background-color-green-2: #2c974b;

$color-shadow-small: 0 1px 0 rgba(27,31,35,0.04);
$color-shadow-medium: 0 3px 6px rgba(149,157,165,0.15);
$color-shadow-large: 0 8px 24px rgba(149,157,165,0.2);
$color-shadow-extra-large: 0 12px 48px rgba(149,157,165,0.3);
$color-shadow-highlight: inset 0 1px 0 hsla(0,0%,100%,0.25);
$color-shadow-inset: inset 0 1px 0 rgba(225,228,232,0.2);
